---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostCard from "../../components/PostCard";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog", ({ data }) => !data.draft)).sort(
     (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<head>
     <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
     <Header />
     <div class="posts">
          <ul>
               {
                    posts.map((post: any) => (
                         <PostCard
                              title={post.data.title}
                              pubDate={post.data.pubDate}
                              description={post.data.description}
                              url={`/blog/${post.id}`}
                         />
                    ))
               }
          </ul>
     </div>
     <Footer />
</body>

<style>
     .posts {
          max-width: min(65ch, 100% - 2rem);
          padding: 0 2rem;
          margin: 2rem auto;
     }
</style>
